# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
